extends ../layouts/common.pug

block content
    h1 Create Users
    
    if err
        each errs in err
            .alert.alert-danger= errs
    form(action="/users/create", method="POST",class="dis-flex",enctype="multipart/form-data")
        .form-group
            label(for='name') Name
            input#name(type="text" name="name" class="ml-2" value=values ? values.name : "")
        .form-group
            label(for='phone') Phone
            input#phone(type="text" name="phone" class="ml-2" value=values ? values.phone : "")
        .form-group
            label(for='avatar') Avatar
            input#avatar.form-control-file(type="file" name="avatar")
        button(class="btn btn-primary ") Create       